# Compiled Python files
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/

# Django-related
*.log
*.pot
*.pyc
local_settings.py

# Database
db.sqlite3
*.sqlite3
*.sqlite3-wal
*.sqlite3-shm
*.sqlite3-journal
backups/
.env
.env.*
*.env
!.env.example

# Media
media/

# Static files
staticfiles/

# Virtual environment
venv/
venv.bak/

# IDE-specific
.vscode/
!.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Compiled files
*.pyo
*.pyd

# Backup files
*.bak
*.swp
*~

# Dependency directories
env/
lib/
node_modules/
fuinoise_live/static/fuinoise_live/organizer/
